body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0D1017;
    color: white;
    font-family: 'Arial', sans-serif;
}

h1, h2, h3 {
    color: white;
}

.anime-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    margin: 20px;
    padding: 20px;
    width: 80%;
    background-color: #161b22;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.row img {
    width: 100px;
    height: 150px;
    border-radius: 5px;
    margin-right: 15px;
}

.caption {
    flex: 1;
}

.rating {
    font-weight: bold;
    margin-right: 10px;
}

.notes {
    flex: 1;
}

/* Apply the general styles to each section */
.completed .row img {
    border: 2px solid #4CAF50; /* Green border for completed anime */
}

.watching .row img {
    border: 2px solid #FFD700; /* Gold border for watching anime */
}

.planning .row img {
    border: 2px solid #3498db; /* Blue border for planning anime */
}

/* Apply the specific styles for the Completed section */
.completed .row {
    display: flex;
    align-items: center;
}

.completed .row img {
    width: 100px;
    height: 150px;
    border-radius: 5px;
    margin-right: 15px;
    transition: transform 0.2s;
}

.completed .row:hover img {
    transform: scale(1.1);
}

.completed .caption,
.completed .rating,
.completed .notes {
    font-size: 16px;
    margin-right: 10px;
}

.completed .rating {
    font-weight: bold;
    color: #4CAF50; /* Green color for completed anime rating */
}

.completed .notes {
    flex: 1;
    color: #888; /* Light gray color for notes */
}

.completed .notes:hover {
    text-decoration: underline;
    cursor: pointer;
}


.badge {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action {
    background-color: #E44D26;
    color: white;
}

.comedy {
    background-color: #F3C623;
    color: white;
}

.isekai {
    background-color: #34B7F1;
    color: white;
}

.badge:hover {
    background-color: #333; /* Darken the background on hover */
}
