
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #0D1017;
    margin: 0;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(2.);
    justify-content: center;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

.container {
    max-width: 800px;
}

h1, h2, h3 {
    color: #ffffff;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    background-color: #f6f8fa;
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
    font-size: 26px;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 32px;
    border: 1px solid #dfe2e5;
}

th, td {
    padding: 16px;
    border: 1px solid #dfe2e5;
}

th {
    background-color: #f6f8fa;
}


  .image-container {
    display: flex;
  }

   /* Style for the label */
        #toggle-label {
            text-decoration: underline;
            cursor: pointer;
            color: white;
            position: relative;
        }

        /* Style for the tooltip */
        #toggle-label:hover::before {
            content: "As recognised by the Eastern Orthodox Church";
            display: block;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: #565b66;
            padding: 5px;
            border-radius: 5px;
            z-index: 1;
        }

        /* Style for the hidden checkbox */
        #toggle-checkbox {
            display: none;
        }

        /* Style for the collapsible list */
        #saints-list {
            display: none;
        }

        /* Show the list when the checkbox is checked */
        #toggle-checkbox:checked + #saints-list {
            display: block;
        }

  /* Style to hide the default arrow indicator for details element */
    details {
      cursor: pointer;
    }

    summary {
      outline: none; /* Remove the default focus outline */
    }

    /* Style for the content inside the details element */
    details > div {
      margin-left: 20px; /* Adjust the margin as needed */
    }
