body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0D1017;
    color: white;
    transform: scale(2.2);
    position: relative;
}

p {
  color: white;
}

h1, h2, h3 {
  color: white;
}

.icon {

}
.business-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 300px;
    padding: 20px;
    background-color: #0D1017;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.square {
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #0D1017;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.square:hover {
    background-color: #161b22;
    transform: scale(1.05);
}

.business-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 300px;
    padding: 20px;
    background-color: #161b22;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #0D1017;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.square:hover {
    background-color: #161b22;
    transform: scale(1.05);
}

/* Your existing styles for body, business-card, etc. */

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon img {
    margin-bottom: 10px; /* Adjust the margin as needed to create space between the images */
}
